.form-group{
    display: flex;
    flex-direction: column;
    color: rgba(221, 208, 208, 0.808);
}
.form-group label{
    font-size: large;
}
.is-valid{
    background-color: rgb(178, 181, 197);
    color: black;
    border: none;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    height: 35px;
    margin-bottom: 50px;
}
.is-invalid {
    background-color: rgb(178, 181, 197);
    color: black;
    border: 2px solid rgb(151, 35, 35);
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    height: 35px;
}
.message-error{
    color: rgb(151, 35, 35);
    font-size: small;
}