.not-users{
    text-align: center;           
    padding: 10px;                  
    margin: 10px;
    border: none;       
    border-radius: 5px;             
    width: 650px;
    background-color: rgba(109, 122, 185, 0.5);
    font-size: large;
}